.second-level-menu {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom:30px;
  padding-top:10px;
  padding-bottom:20px;
}
.second-level-menu a {
  display: block;
  font-size:1.8rem;
  line-height:1.38;
  color: #b10035;
  font-weight:700;
  margin-bottom:6px;
  font-family:'open-sans-bold';
}
.second-level-menu p {
  font-size:1.5rem;
  line-height:1.4;
  margin-bottom:20px;
}