@media all and (max-width: 767px) {
  .hb-title-sticky {
    height: 0;
    width: 100%;
    background: #fff;
    z-index: 5;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    left: 0;
  }
  .hb-title-sticky span {
    padding: 12px 15px;
    display: inline-block;
    width: calc(100% - 100px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .hb-title-sticky .fixed-share {
    color: #fff;
    background: #b10035;
    padding: 12px 15px;
    float: right;
    width: 100px;
    cursor: pointer;
  }
  .hb-title-sticky.affix {
    top: 0;
    position: fixed;
    transition: top 0.25s ease-in-out;
    height: 46px;
  }
  .hb-title-sticky.affix-top {
    transition: top 0.25s ease-in-out, height 0.01s ease-in-out 0.5s;
    top: -46px;
    height: 0;
    position: fixed;
  }
  .hb-title-sticky.affix-bottom {
    position: fixed;
  }
  .hb-title-sticky.down-nav {
    top: -46px;
  }
}

@media all and (min-width: 768px) {
  .hb-title-sticky {
    display: none;
  }
}
