.flex-container {display:flex;flex-wrap:nowrap}
.flex-container .well ~ .well {
  margin-left:2rem;
  border-radius:1rem;
}

.rounded {border-radius:1rem;}

@media screen and (max-width:991px){
  .flex-container {flex-direction: column;flex: 0 0 100%;}
  .flex-container .well ~ .well {margin-left:0}
  .flex-container .well {width:100%;}
}