.article ul {
  margin-bottom:30px;
  padding-left:0;
  font-size:1.6rem;
}

.article ul li {
  list-style-type: none;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 12px;
  padding-left: 19px;
}

.article ul li:before {
  content: "\002022";
  color: #b10035;
  padding-right: 10px;
  font-size: 2.2rem;
  position: relative;
  margin-left: -19px;

}