.handbook-content .accordion.panel-group a:not(.collapsed) .group-wrap.highlighted, .handbook-content .accordion.panel-group a:not(.collapsed) .group-wrap.highlight,
.handbook-content .accordion.panel-group .collapse.in .group-wrap.highlighted,
.handbook-content .accordion.panel-group .collapse.in .group-wrap.highlight {
  background-color: #eee;
}
.handbook-content .accordion.panel-group a:not(.collapsed) > .open-guidance,
.handbook-content .accordion.panel-group .collapse.in > .open-guidance {
  display: block;
  position: absolute;
  right: 7px;
  top: 56px;
  transition: right 0.15s ease-in-out;
}
.handbook-content .accordion.panel-group .highlight-dd,
.handbook-content .accordion.panel-group .highlighted-dd {
  background-color: #eee;
}
.handbook-content .guidance-per-rule .highlight,
.handbook-content .guidance-per-rule .highlighted {
  background-color: #eee;
}
.guidance-per-rule.accordion .panel-default.highlight, .guidance-per-rule.accordion .panel-default.highlighted {
  background: #eee;
}