.top-bar-menu {
  background: #b10035;
}
.top-bar-menu .btn-link {
  text-decoration: underline;
  color:#fff;
}
.top-bar-menu .mysra-link:before {
    content: '\e90c';
    font-family: 'icomoon';
    color: #b10035;
    font-size: 12px;
    padding-right: 6px;
    position: relative;
    top: 1px;
}