.handbook-sidebar.affix {
  top: 0;
  position: fixed;
  transition: top 0.15s ease-in-out, right 0.4s ease-in-out;
}
.handbook-sidebar.affix-top {
  top: 30px;
  position: fixed;
}
.handbook-sidebar.affix-top #hb-guidance .pane-wrap {
  margin-top: 80px;
}
.handbook-sidebar.affix-top .back-bar.active {
  bottom: 25px;
}
.handbook-sidebar.affix-bottom {
  position: fixed;
  top: 0;
}