.control-label {
    font-family: 'open-sans-bold', sans-serif;
  font-size:1.6rem;
}
.form-horizontal .form-help {
  font-size: 1.4rem;
  margin-top: 8px;
  margin-bottom: 5px;
  color: #888;
}
.form-horizontal .form-control {
  width: 100%;
}
@media (max-width: 767px) {
  .form-horizontal .control-label {
    margin-bottom: 12px;
  }
}