h2, .h2 {
  font-size: 2.5rem;
  line-height: 1.3;
  margin-bottom: 25px;
  letter-spacing:-0.03em;
  font-family: 'open-sans-bold', sans-serif;
  color:#191919;
}
@media (min-width: 768px) {
  h2, .h2 {
    font-size: 2.8rem;
    line-height: 1.25;
  }
}