.sidebar-cta-img {
  max-height: 200px;
  overflow: hidden;
}
.sidebar-cta-img img {
  width: 100%;
}
.sidebar-cta {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.sidebar-cta h5 {
  color: #b10035;
  margin-top: 20px;
  margin-bottom: 8px;
}
.sidebar-cta a {
  display: block;
  color:#191919;
}
.sidebar-cta a:hover, .sidebar-cta a:focus {
   text-decoration: none;
}