.list-complex {
  margin:15px 0;
}
.list-complex dt {
  display:block;
  float:left;
  clear:left;
  width:40px;
  font-family: 'open-sans-bold', sans-serif;
}
.list-complex dd {
  margin:0 0 15px 40px;
}
.list-complex a dfn {
  text-decoration:none;
  display:inline-block;
  border-bottom: 1px dotted #b10035;
  line-height:20px;
  cursor:pointer;
}