.btn.btn-cta {
    white-space: normal;
    text-align: left;
    border-radius: 5px;
    position: relative;
    padding-left: 35px;
    padding-right:15px;
    margin-bottom: 20px;
  line-height:25px;
}
.btn.btn-cta:before {
    content: '\e90c';
    font-family: 'icomoon';
    color: #b10035;
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 13px;
    transition: color 0.15s ease-in-out;
}
.btn.btn-cta:hover:before {
    color: #fff;
}
.btn.btn-cta h6 {
    color: #fff;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 15px;
}
.btn.btn-cta p {
    color: #fff;
    font-family: 'open-sans', sans-serif;
    font-weight:normal;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
}